name: codecov

on:
  push:
    branches: [ master ]

jobs:
  run:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
      - name: Install dependencies
        run: |
          gem install ceedling
          pip install gcovr
      - name: Test
        run: ceedling utils:gcov gcov:all
      - name: Upload
        uses: codecov/codecov-action@v1
        with:
          files: ./build/gcov/out/string.gcno
          token: ${{ secrets.CODECOV_TOKEN }}
